In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings('ignore')
import sys,os
from tqdm import tqdm_notebook as tqdm

c = 'Kaggle-IEEE-CIS-Fraud-Detection-2019'
root = '/home/daishu/competition/%s/'%c
id_name = 'TransactionID'
label_name = 'isFraud'

In [15]:
train_df1 = pd.read_csv('%s/data/train_identity.csv'%root)
train_df2 = pd.read_csv('%s/data/train_transaction.csv'%root)

test_df1 = pd.read_csv('%s/data/test_identity.csv'%root)
test_df2 = pd.read_csv('%s/data/test_transaction.csv'%root)

In [16]:
train_df1.shape,train_df2.shape

((144233, 41), (590540, 394))

In [17]:
train_df = train_df2.merge(train_df1,how='left',on=id_name)
test_df = test_df2.merge(test_df1,how='left',on=id_name)

In [18]:
del train_df1,train_df2,test_df1,test_df2
train_df.shape

(590540, 434)

In [3]:
train_df.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
test_df.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,0.0,0.0,310.0,90.0,0.0,310.0,90.0,0.0,0.0,0.0
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
def Information_entropy(x):
    x = pd.Series(x)
    pct = x.groupby(by=x).count() / len(x)
    return np.sum(-pct*np.log2(pct))

def Mutual_information(x,y):
    df = pd.DataFrame({'x':x,'y':y})
    entropy = Information_entropy(y)
    conditiona_entropy = df.groupby(['x']).agg({'y':Information_entropy})
    pct = df.groupby(['x']).count() / len(x)
    return entropy - np.sum(pct.values*conditiona_entropy.values)

def Data_review(trainDf,testDf,idName,labelName):
    info = []
    info.append([idName,'object',trainDf.shape[0],testDf.shape[0],np.nan,np.nan,np.nan,np.nan,np.nan])
    info.append([labelName,trainDf[labelName].dtype,trainDf.shape[0],testDf.shape[0],trainDf[labelName].mean(),np.nan,np.nan,np.nan,np.nan])
    for col in tqdm(trainDf.columns):
        if col in [idName,labelName]:
            continue
        data_type = trainDf[col].dtype
        train_nunique = trainDf[col].nunique()
        test_nunique = testDf[col].nunique()
        if data_type == 'object':
            train_mode_or_mean = trainDf[col].mode().values[0]
            test_mode_or_mean = testDf[col].mode().values[0]
            mi_or_corr = Mutual_information(trainDf[col],trainDf[labelName])
        else:
            train_mode_or_mean = trainDf[col].mean()
            test_mode_or_mean = testDf[col].mean()
            mi_or_corr = trainDf[col].corr(trainDf[labelName])
        train_nan_num = trainDf[col].isnull().sum()
        test_nan_num = testDf[col].isnull().sum()
        info.append([col,data_type,train_nunique,test_nunique,train_mode_or_mean,test_mode_or_mean,train_nan_num,test_nan_num,mi_or_corr])
    info_df = pd.DataFrame(info,columns=['column','dataType','trainNunique','testNunique','trainModeOrMean','testModeOrMean','trainNanNum','testNanNum','miOrCorr'])
    return info_df

In [22]:
info_df = Data_review(train_df,test_df,id_name,label_name)

HBox(children=(IntProgress(value=0, max=434), HTML(value='')))

In [23]:
info_df

,column,dataType,trainNunique,testNunique,trainModeOrMean,testModeOrMean,trainNanNum,testNanNum,miOrCorr
0,TransactionID,object,590540,506691,NaN,NaN,NaN,NaN,NaN
1,isFraud,int64,590540,506691,0.03499,NaN,NaN,NaN,NaN
2,TransactionDT,int64,573349,494686,7.37231e+06,2.69299e+07,0.0,0.0,0.013103
3,TransactionAmt,float64,20902,14119,135.027,134.726,0.0,0.0,0.011320
4,ProductCD,object,5,5,W,W,0.0,0.0,0.014839
5,card1,int64,13553,13244,9898.73,9957.22,0.0,0.0,-0.013640
6,card2,float64,500,497,362.555,363.735,8933.0,8654.0,0.003388
7,card3,float64,114,115,153.195,153.543,1565.0,3002.0,0.154151
8,card4,object,4,4,visa,visa,1577.0,3086.0,0.000809
9,card5,float64,119,102,199.279,200.163,4259.0,4547.0,-0.033580
10,card6,object,4,3,debit,debit,1571.0,3007.0,0.006836
11,addr1,float64,332,292,290.734,291.847,65706.0,65609.0,0.005596
12,addr2,float64,74,72,86.8006,86.7234,65706.0,65609.0,-0.030387
13,dist1,float64,2651,1988,118.502,87.0653,352271.0,291217.0,0.021522
14,dist2,float64,1751,1814,231.855,237.175,552913.0,470255.0,-0.019054
15,P_emaildomain,object,59,60,gmail.com,gmail.com,94456.0,69192.0,0.034775
16,R_emaildomain,object,60,60,gmail.com,gmail.com,453249.0,370821.0,0.128759
17,C1,float64,1657,1174,14.0925,10.0932,0.0,3.0,0.030570
18,C2,float64,1216,1123,15.2697,10.7146,0.0,3.0,0.037229
19,C3,float64,27,31,0.00564399,0.0274035,0.0,3.0,-0.006833
20,C4,float64,1260,728,4.09219,2.38587,0.0,3.0,0.030382
21,C5,float64,319,353,5.57153,4.9627,0.0,3.0,-0.030754
22,C6,float64,1328,834,9.07108,6.85499,0.0,3.0,0.020909
23,C7,float64,1103,518,2.84848,1.67817,0.0,3.0,0.028160
24,C8,float64,1253,442,5.14457,1.89399,0.0,3.0,0.032139
25,C9,float64,205,354,4.48024,4.61194,0.0,3.0,-0.031703
26,C10,float64,1231,456,5.24034,1.81015,0.0,3.0,0.028396
27,C11,float64,1476,937,10.2415,7.48459,0.0,3.0,0.027484
28,C12,float64,1199,663,4.07623,2.64949,0.0,3.0,0.031905
29,C13,float64,1597,1069,32.5399,27.816,0.0,4748.0,-0.011146
...,...,...,...,...,...,...,...,...,...
404,id_11,float64,365,301,99.7453,99.7509,449562.0,369913.0,0.007914
405,id_12,object,2,2,NotFound,NotFound,446307.0,364784.0,0.122080
406,id_13,float64,54,27,48.0531,36.9057,463220.0,376405.0,-0.019538
407,id_14,float64,25,27,-344.507,-344.483,510496.0,435334.0,0.057324
408,id_15,object,3,3,Found,Found,449555.0,369714.0,0.124938
409,id_16,object,2,2,Found,Found,461200.0,380944.0,0.133869
410,id_17,float64,104,103,189.451,191.07,451171.0,370725.0,0.150100
411,id_18,float64,18,17,14.2373,14.7957,545427.0,455816.0,0.050004
412,id_19,float64,522,502,353.128,350.123,451222.0,370785.0,-0.041721
413,id_20,float64,394,436,403.883,408.886,451279.0,371058.0,0.061597
414,id_21,float64,490,443,368.27,507.727,585381.0,501632.0,0.063544
415,id_22,float64,25,26,16.0027,15.3368,585371.0,501629.0,0.118409
416,id_23,object,3,3,IP_PROXY:TRANSPARENT,IP_PROXY:TRANSPARENT,585371.0,501629.0,0.215296
417,id_24,float64,12,15,12.8009,13.1667,585793.0,501951.0,-0.001905
418,id_25,float64,341,309,329.609,332.043,585408.0,501652.0,0.034045
419,id_26,float64,95,94,149.07,152.753,585377.0,501644.0,0.099587
420,id_27,object,2,2,Found,Found,585371.0,501629.0,0.215239
421,id_28,object,2,2,Found,Found,449562.0,369913.0,0.124715
422,id_29,object,2,2,Found,Found,449562.0,369913.0,0.124884
423,id_30,object,75,86,Windows 10,Windows 10,512975.0,436032.0,0.186178
424,id_31,object,130,135,chrome 63.0,chrome 70.0,450258.0,370066.0,0.128650
425,id_32,float64,4,5,26.5086,26.2179,512954.0,436020.0,0.069702
426,id_33,object,260,390,1920x1080,1920x1080,517251.0,436020.0,0.188247
427,id_34,object,4,2,match_status:2,match_status:2,512735.0,434516.0,0.184279
428,id_35,object,2,2,T,T,449555.0,369714.0,0.126704
429,id_36,object,2,2,F,F,449555.0,369714.0,0.123447
430,id_37,object,2,2,T,T,449555.0,369714.0,0.123275
431,id_38,object,2,2,F,F,449555.0,369714.0,0.124025
432,DeviceType,object,2,2,desktop,desktop,449730.0,369760.0,0.123984
433,DeviceInfo,object,1786,2226,Windows,Windows,471874.0,391634.0,0.156500

In [71]:
info_df.to_csv('%s/data/info.csv'%root,index=False)

In [11]:
train_df['id_03'].nunique()

24

In [53]:
card_info = ['card%s'%(i+1) for i in range(6)]
card_info.extend(['addr1','addr2'])
tmp = train_df[card_info]

In [54]:
for col in tmp.columns:
    tmp[col] = tmp[col].astype(str).apply(lambda x:x.replace('.0',''))

In [55]:
tmp['card'] = tmp[card_info].apply(lambda x:'_'.join(x),axis=1)
tmp

,card1,card2,card3,card4,card5,card6,addr1,addr2,card
0,13926,nan,150,discover,142,credit,315,87,13926_nan_150_discover_142_credit_315_87
1,2755,404,150,mastercard,102,credit,325,87,2755_404_150_mastercard_102_credit_325_87
2,4663,490,150,visa,166,debit,330,87,4663_490_150_visa_166_debit_330_87
3,18132,567,150,mastercard,117,debit,476,87,18132_567_150_mastercard_117_debit_476_87
4,4497,514,150,mastercard,102,credit,420,87,4497_514_150_mastercard_102_credit_420_87
5,5937,555,150,visa,226,debit,272,87,5937_555_150_visa_226_debit_272_87
6,12308,360,150,visa,166,debit,126,87,12308_360_150_visa_166_debit_126_87
7,12695,490,150,visa,226,debit,325,87,12695_490_150_visa_226_debit_325_87
8,2803,100,150,visa,226,debit,337,87,2803_100_150_visa_226_debit_337_87
9,17399,111,150,mastercard,224,debit,204,87,17399_111_150_mastercard_224_debit_204_87
10,16496,352,117,mastercard,134,credit,nan,nan,16496_352_117_mastercard_134_credit_nan_nan
11,4461,375,185,mastercard,224,debit,nan,nan,4461_375_185_mastercard_224_debit_nan_nan
12,3786,418,150,visa,226,debit,204,87,3786_418_150_visa_226_debit_204_87
13,12866,303,150,visa,226,debit,330,87,12866_303_150_visa_226_debit_330_87
14,11839,490,150,visa,226,debit,226,87,11839_490_150_visa_226_debit_226_87
15,7055,555,150,visa,226,debit,315,87,7055_555_150_visa_226_debit_315_87
16,1790,555,150,visa,226,debit,170,87,1790_555_150_visa_226_debit_170_87
17,11492,111,150,mastercard,219,credit,204,87,11492_111_150_mastercard_219_credit_204_87
18,4663,490,150,visa,166,debit,184,87,4663_490_150_visa_166_debit_184_87
19,7005,111,150,visa,226,debit,264,87,7005_111_150_visa_226_debit_264_87
20,7875,314,150,mastercard,224,debit,299,87,7875_314_150_mastercard_224_debit_299_87
21,11401,543,150,mastercard,117,debit,204,87,11401_543_150_mastercard_117_debit_204_87
22,1724,583,150,visa,226,credit,299,87,1724_583_150_visa_226_credit_299_87
23,2392,360,150,mastercard,166,debit,126,87,2392_360_150_mastercard_166_debit_126_87
24,10112,360,150,visa,166,debit,264,87,10112_360_150_visa_166_debit_264_87
25,15385,111,150,mastercard,224,debit,441,87,15385_111_150_mastercard_224_debit_441_87
26,17868,148,150,visa,226,debit,472,87,17868_148_150_visa_226_debit_472_87
27,11307,321,150,visa,226,debit,337,87,11307_321_150_visa_226_debit_337_87
28,8431,269,150,mastercard,224,debit,251,87,8431_269_150_mastercard_224_debit_251_87
29,12932,361,150,visa,226,debit,204,87,12932_361_150_visa_226_debit_204_87
...,...,...,...,...,...,...,...,...,...
590510,9500,321,150,visa,226,debit,204,87,9500_321_150_visa_226_debit_204_87
590511,12059,555,150,visa,226,debit,110,87,12059_555_150_visa_226_debit_110_87
590512,16873,343,150,visa,226,credit,110,87,16873_343_150_visa_226_credit_110_87
590513,2198,555,150,visa,166,debit,315,87,2198_555_150_visa_166_debit_315_87
590514,2487,555,150,visa,226,debit,337,87,2487_555_150_visa_226_debit_337_87
590515,4219,321,150,visa,226,debit,472,87,4219_321_150_visa_226_debit_472_87
590516,17188,321,150,visa,226,debit,204,87,17188_321_150_visa_226_debit_204_87
590517,16873,343,150,visa,226,credit,110,87,16873_343_150_visa_226_credit_110_87
590518,11204,298,150,visa,226,debit,272,87,11204_298_150_visa_226_debit_272_87
590519,18018,452,150,mastercard,117,debit,264,87,18018_452_150_mastercard_117_debit_264_87
590520,17150,292,150,visa,226,debit,204,87,17150_292_150_visa_226_debit_204_87
590521,12019,305,106,mastercard,224,debit,nan,nan,12019_305_106_mastercard_224_debit_nan_nan
590522,3166,559,150,visa,166,debit,325,87,3166_559_150_visa_166_debit_325_87
590523,13076,456,150,mastercard,117,debit,299,87,13076_456_150_mastercard_117_debit_299_87
590524,7826,481,150,mastercard,224,debit,387,87,7826_481_150_mastercard_224_debit_387_87
590525,11942,570,150,visa,226,debit,310,87,11942_570_150_visa_226_debit_310_87
590526,1214,174,150,visa,226,credit,272,87,1214_174_150_visa_226_credit_272_87
590527,6453,555,150,visa,226,debit,264,87,6453_555_150_visa_226_debit_264_87
590528,15066,170,150,mastercard,102,credit,299,87,15066_170_150_mastercard_102_credit_299_87
590529,5096,555,185,mastercard,137,credit,nan,nan,5096_555_185_mastercard_137_credit_nan_nan
590530,15066,170,150,mastercard,102,credit,299,87,15066_170_150_mastercard_102_credit_299_87
590531,6019,583,150,visa,226,credit,337,87,6019_583_150_visa_226_credit_337_87
590532,12037,595,150,mastercard,224,debit,231,87,12037_595_150_mastercard_224_debit_231_87
590533,13071,321,150,visa,226,debit,485,87,13071_321_150_visa_226_debit_485_87
590534,5812,408,185,mastercard,224,debit,nan,nan,5812_408_185_mastercard_224_debit_nan_nan
590535,6550,nan,150,visa,226,debit,272,87,6550_nan_150_visa_226_debit_272_87
590536,10444,225,150,mastercard,224,debit,204,87,10444_225_150_mastercard_224_debit_204_87
590537,12037,595,150,mastercard,224,debit,231,87,12037_595_150_mastercard_224_debit_231_87
590538,7826,481,150,mastercard,224,debit,387,87,7826_481_150_mastercard_224_debit_387_87
590539,15066,170,150,mastercard,102,credit,299,87,15066_170_150_mastercard_102_credit_299_87

In [56]:
tmp['card'].nunique()

43071

In [60]:
tmp[label_name] = train_df[label_name]

In [63]:
tmp.groupby(['card']).agg({label_name:['count','mean']}).sort_values(by=[(label_name,'count')],ascending=False)

                                                 isFraud
                                                   count      mean
card
15885_545_185_visa_138_debit_nan_nan                9900  0.043737
17188_321_150_visa_226_debit_299_87                 5862  0.023883
12695_490_150_visa_226_debit_325_87                 5766  0.031217
9500_321_150_visa_226_debit_204_87                  4647  0.026899
3154_408_185_mastercard_224_debit_nan_nan           4398  0.062301
12839_321_150_visa_226_debit_264_87                 3538  0.010458
16132_111_150_visa_226_debit_299_87                 3523  0.014476
15497_490_150_visa_226_debit_299_87                 3419  0.010822
9500_321_150_visa_226_debit_272_87                  2715  0.023204
5812_408_185_mastercard_224_debit_nan_nan           2639  0.112543
4461_375_185_mastercard_224_debit_nan_nan           2567  0.075185
7664_490_150_visa_226_debit_264_87                  2548  0.035322
7207_111_150_visa_226_debit_204_87                  2320  0.010776
9112_250_150_visa_226_debit_441_87                  2287  0.014429
9633_130_185_visa_138_debit_nan_nan                 2139  0.215521
12544_321_150_visa_226_debit_441_87                 2104  0.012357
10023_111_150_visa_226_debit_325_87                 2082  0.014890
16136_204_185_visa_138_debit_nan_nan                1974  0.035968
13832_375_185_mastercard_224_debit_nan_nan          1949  0.097999
9026_545_185_visa_137_credit_nan_nan                1942  0.199279
9500_321_150_visa_226_debit_330_87                  1919  0.068786
4806_490_150_visa_226_debit_315_87                  1853  0.012412
9633_296_185_visa_138_debit_nan_nan                 1814  0.141676
17399_111_150_mastercard_224_debit_204_87           1802  0.012209
9500_321_150_visa_226_debit_126_87                  1708  0.008197
12501_490_150_visa_226_debit_204_87                 1600  0.028125
17131_111_150_mastercard_224_debit_264_87           1515  0.009901
17188_321_150_visa_226_debit_310_87                 1475  0.004746
12544_321_150_visa_226_debit_337_87                 1473  0.044807
15775_481_150_mastercard_102_credit_330_87          1453  0.000000
...                                                  ...       ...
1756_383_150_visa_226_debit_143_87                     1  0.000000
17567_555_150_mastercard_137_credit_330_87             1  0.000000
17562_555_185_mastercard_224_credit_216_60             1  1.000000
17560_168_144_visa_137_credit_426_96                   1  0.000000
17560_168_144_visa_137_credit_236_96                   1  0.000000
17583_528_150_visa_226_credit_231_87                   1  0.000000
17583_528_150_visa_226_credit_299_87                   1  0.000000
17607_182_150_visa_226_debit_126_87                    1  0.000000
17598_268_150_visa_166_debit_324_87                    1  0.000000
17604_555_195_mastercard_224_debit_454_69              1  0.000000
17602_555_150_visa_226_debit_476_87                    1  0.000000
17602_555_150_visa_226_debit_204_87                    1  0.000000
17599_216_150_mastercard_102_credit_191_87             1  0.000000
17598_nan_nan_nan_nan_nan_337_87                       1  0.000000
17598_nan_nan_nan_nan_nan_264_87                       1  0.000000
17598_268_150_visa_166_debit_nan_nan                   1  0.000000
17598_268_150_visa_166_debit_420_87                    1  0.000000
17598_268_150_visa_166_debit_387_87                    1  0.000000
17598_268_150_visa_166_debit_253_87                    1  0.000000
17583_528_150_visa_226_credit_330_87                   1  0.000000
17598_268_150_visa_166_debit_220_87                    1  0.000000
17598_268_150_visa_166_debit_177_87                    1  1.000000
17598_268_150_visa_166_debit_170_87                    1  0.000000
17589_399_150_american express_237_credit_337_87       1  0.000000
17587_534_150_visa_226_debit_126_87                    1  0.000000
17586_481_150_visa_226_credit_337_87                   1  0.000000
17584_583_150_visa_226_credit_264_87                   1  0.000000
17584_583_150_visa_226_credit_231_87                   1  0.000000
17584_583_150_visa_226_credit_204_87                   1  0.000000
9999_174_150_visa_226_debit_441_87                     1  0.000000

[43071 rows x 2 columns]

In [66]:
train_df.loc[tmp['card']=='9633_130_185_visa_138_debit_nan_nan',['TransactionDT']+['D%s'%(i+1) for i in range(14)]]

,TransactionDT,D1,D2,D3,D4,D5,D6,D7,D8,D9,D10,D11,D12,D13,D14
2528,146900,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2630,147946,171.0,NaN,116.0,0.0,NaN,0.0,NaN,254.708328,0.708333,0.0,NaN,0.0,254.0,NaN
3545,156574,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
3738,158481,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4334,164526,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4383,165058,226.0,226.0,21.0,NaN,NaN,NaN,NaN,0.875000,0.875000,0.0,NaN,NaN,NaN,NaN
4431,165512,226.0,226.0,0.0,NaN,NaN,NaN,NaN,0.875000,0.875000,0.0,NaN,NaN,NaN,NaN
4909,170825,217.0,217.0,61.0,298.0,21.0,298.0,21.0,NaN,NaN,0.0,NaN,298.0,NaN,NaN
4928,171052,281.0,NaN,262.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4938,171128,281.0,NaN,0.0,NaN,NaN,NaN,NaN,0.958333,0.958333,0.0,NaN,NaN,NaN,NaN
5195,173734,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
5210,173825,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN
5286,174710,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
5608,178773,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
5615,178859,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.041666,0.041666,0.0,NaN,NaN,NaN,NaN
5621,178991,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.041666,0.041666,0.0,NaN,NaN,NaN,NaN
5626,179035,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.041666,0.041666,0.0,NaN,NaN,NaN,NaN
5631,179094,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.041666,0.041666,0.0,NaN,NaN,NaN,NaN
5632,179171,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.041666,0.041666,0.0,NaN,NaN,NaN,NaN
6045,189787,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
6718,229318,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
6936,232672,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,332.0
7430,239142,340.0,NaN,341.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7505,240200,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7631,242064,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
7918,245751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8549,254627,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
8685,256490,6.0,6.0,6.0,55.0,48.0,55.0,48.0,55.958332,0.958333,0.0,NaN,55.0,NaN,NaN
8770,257714,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
8781,257887,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585856,15685004,68.0,68.0,68.0,68.0,68.0,68.0,68.0,NaN,NaN,0.0,NaN,68.0,0.0,0.0
585929,15687814,99.0,99.0,14.0,99.0,14.0,99.0,14.0,NaN,NaN,0.0,NaN,99.0,0.0,14.0
586550,15700653,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,0.0,NaN,1.0,0.0,1.0
586553,15700696,1.0,NaN,0.0,1.0,0.0,1.0,0.0,0.708333,0.708333,0.0,NaN,1.0,0.0,1.0
586562,15700868,1.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,NaN,1.0,0.0,1.0
586640,15702519,143.0,143.0,77.0,143.0,77.0,143.0,77.0,NaN,NaN,0.0,NaN,143.0,0.0,0.0
586902,15707506,143.0,143.0,0.0,143.0,0.0,143.0,0.0,0.791666,0.791666,0.0,NaN,143.0,0.0,0.0
587376,15717119,1.0,NaN,0.0,1.0,0.0,1.0,0.0,NaN,NaN,0.0,NaN,1.0,0.0,1.0
587461,15718626,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
587482,15718976,0.0,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0
587487,15719126,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,477.0
587491,15719189,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.916666,0.916666,0.0,NaN,0.0,0.0,477.0
587574,15720993,196.0,196.0,63.0,166.0,63.0,166.0,63.0,NaN,NaN,0.0,NaN,166.0,0.0,436.0
587834,15725712,0.0,NaN,NaN,13.0,2.0,13.0,2.0,121.000000,0.000000,0.0,NaN,13.0,12.0,13.0
587838,15725795,10.0,NaN,9.0,13.0,0.0,13.0,0.0,121.000000,0.000000,0.0,NaN,13.0,12.0,13.0
588166,15734697,9.0,9.0,8.0,8.0,8.0,8.0,8.0,196.083328,0.083333,0.0,NaN,8.0,8.0,0.0
588194,15736016,0.0,NaN,NaN,67.0,27.0,67.0,27.0,NaN,NaN,0.0,NaN,67.0,0.0,0.0
588292,15740605,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
588622,15771084,0.0,NaN,NaN,0.0,NaN,0.0,NaN,100.500000,0.500000,0.0,NaN,0.0,0.0,226.0
588841,15777055,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
589218,15784603,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
589220,15784631,2.0,NaN,1.0,2.0,1.0,2.0,1.0,2.666666,0.666666,0.0,NaN,2.0,0.0,2.0
589365,15787261,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
589395,15787897,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.708333,0.708333,0.0,NaN,0.0,0.0,0.0
589404,15788067,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.708333,0.708333,0.0,NaN,0.0,0.0,0.0
589638,15792827,0.0,NaN,NaN,116.0,0.0,116.0,0.0,296.750000,0.750000,0.0,NaN,116.0,0.0,1.0
589644,15792935,303.0,303.0,89.0,0.0,NaN,0.0,NaN,118.750000,0.750000,0.0,NaN,0.0,118.0,0.0
589646,15792973,115.0,NaN,116.0,116.0,0.0,116.0,0.0,296.750000,0.750000,0.0,NaN,116.0,0.0,1.0
589871,15797200,0.0,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0
589928,15798472,22.0,NaN,21.0,22.0,21.0,22.0,21.0,NaN,NaN,0.0,NaN,22.0,0.0,0.0

In [74]:
train_df[['id_%s'%str(i+1).zfill(2) for i in range(38)]].head()

,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,id_10,...,id_29,id_30,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NotFound,Android 7.0,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T